// Place all the styles related to the Blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.recent_posts {
	 li {
 	   border-top: 1px solid rgb(216, 230, 248);
	}

	 li a {
	    display: block;
	    width: 260px;
	    padding: 5px 0px;
	}

	 li span {
	    color: rgb(222, 222, 222);
	    font-family: Verdana,Arial,Helvetica,sans-serif;
	    display: block;
	    padding: 0px 0px 5px;
	}
}

.entry-head {
    border-left: 5px solid rgb(0, 134, 227);
    padding-left: 10px;

    a {
	    text-decoration: none;
	    color: rgb(0, 134, 227);

	}
}


.posts-content {
	a {
	    text-decoration: none;
	    color: rgb(0, 134, 227);
	}

	.post_title
	{
	    line-height: 29px;
	    margin: 10px 0px 0px;
	    color: rgb(0, 134, 227);
	    font-weight: bold;
	}
	p {
    	margin: 22px 0px;
	}
	h2
	{
	    color: rgb(102, 102, 102);
	    background: none repeat scroll 0% 0% rgb(241, 247, 253);
	    border: 1px solid rgb(210, 232, 250);
	    padding: 0px 10px;
    }
}
